.place__image {
  object-fit: cover;
  width: 100%;
  max-width: 460px;
}

@media (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .place__image {
    max-width: 340px;
    margin-top: 11px;
  }
}

@media (max-width: 707px) {
  .place__image {
    max-width: 100%;
    margin-top: 0;
  }
}