.lead {
padding: 56px calc(39% - 351.19px) 0;
box-sizing: border-box;
width: 100%;
}

@media (max-width: 1024px) {
  .lead {
    padding: 48px calc(9% - 44.16px) 0;
  }
}

@media (max-width: 768px) {
  .lead {
    padding: 48px 0 0;
  }
}
