.cover__subtitle {
width: 360px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin: 0 auto;
text-align: center;
}

@media (max-width: 730px) {
  .cover__subtitle {
  width: 288px;
  font-size: 14px;
  line-height: 16px;
  }
}
