.place__resource {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin-bottom: 7px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0;
}

@media(max-width: 80px) {
  .place__resource {
    margin-bottom: 12px;
  }
}

@media(max-width: 600px) {
  .place__resource {
    line-height: 12px;
  }
}
