.intro {
padding: 92px 48px 0;
box-sizing: border-box;
max-width: 1080px;
width: 100%;
}

@media (max-width: 790px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media (max-width: 544px) {
  .intro {
    padding: 64px 16px 0;
  }
}
