.header__lang-list:last-child {
  margin-left: 20px;
}

@media(max-width:440px) {
  .header__lang-list:last-child {
    margin-left: 24px;
  }
}

@media(max-width:340px) {
  .header__lang-list:last-child {
    margin-left: 18px;
  }
}
