.place {
  display: grid;
  grid-template-columns: 46.8% 1fr;
  column-gap: 40px;
  row-gap:48px;
  width: 100%;
  padding-bottom: 88px;
}

@media (max-width: 1100px) {
  .place {
    grid-template-columns: 47.5% 1fr;
  }
}

.place:last-child {
  padding-bottom: 0;
}

@media (max-width: 1024px) {
  .place {
    column-gap: 32px;
    padding-bottom: 87px;
  }
}

@media (max-width: 768px) {
  .place {
    column-gap: 26px;
    row-gap:38px;
    padding-bottom: 82px;
  }
}

@media (max-width: 707px) {
  .place {
    grid-template-columns: 1fr;
    row-gap:23px;
    padding-bottom: 53px;
    column-gap: 28px;
  }
}

@media (max-width: 340px) {
  .place {
    grid-template-columns: 1fr;
    row-gap:23px;
    padding-bottom: 51px;
  }
}
