.footer {
  padding: 92px 48px 24px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

@media (max-width: 1024px) {
  .footer {
padding: 92px calc(9% - 44.16px) 24px;
  }
}

@media (max-width: 768px) {
  .footer {
padding: 92px 24px 24px;
  }
}

@media (max-width: 544px) {
  .footer {
padding: 64px 16px 24px;
  }
}
