.photo-grid__image {
  object-fit: cover;
  width: 100%;
  max-height: 188px;
}

@media(max-width:1253px) {
  .photo-grid__image {
    max-height: calc(30vw - 107px);
  }
}

@media(max-width:966px) {
  .photo-grid__image {
    max-height: calc(35vw - 35px);
  }
}

@media(max-width:630px) {
  .photo-grid__image {
    max-height: calc(72vw - 38px);
    min-height: 180px;
  }
}

