.cover__heading {
  width: 100%;
margin: 0 48px;
  box-sizing: border-box;
text-decoration: none;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 740px;
background: url(../../../images/cover-trains.jpg) no-repeat;
background-size: cover;
background-position: center;
}

.cover__heading:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  transition: opacity .6s;
}

.cover__heading:hover:after {
  opacity: .8;
}


@media (max-width: 1279px) {
  .cover__heading {
    min-height: calc(39vw + 241px);
  }
}

@media (max-width: 1024px) {
  .cover__heading {
    margin: 0;
    min-height: calc(62vw + 5px);
  }
}

@media (max-width: 320px) {
  .cover__heading {
    min-height: 200px;
  }
}
