.cover__heading {
  width: calc(63% + 377.6px);
  box-sizing: border-box;
text-decoration: none;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: calc(58vw + 40px);
max-height: 740px;
}

.cover__heading:hover .cover__overlay {
  opacity: .8;
}
